.singlePage {
  &__event-description{
    p:first-child:first-letter{
      font-size: 30px;
      font-weight: bold;
      color: $color-dark;
      text-transform: uppercase;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
  }
  }
  &__sidebar {
    padding: 0px;
    box-shadow: 2px 0px 15px 5px $color-shadow;
    border-radius: 5px;
    &--details {
        padding: 20px;
        margin-bottom: 10px;
        p {
          margin-bottom: 5px;
        }
      }
    &--title {
      padding: 20px;
      border-bottom: 1px solid $color-border;
    }
    &--icon {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #5870f770;
      color: $color-primary;
      border-radius: 50%;
      svg {
        font-size: 25px;
      }
    }
    &--tickets{
        .title{
            border-bottom: 1px solid $color-border;
            padding: 20px 0;
        }
    }
  }
}
