.form {
  position: relative;
  width: 300px;

}
.formInput {
  height: 55px;
  width: 500px;
  max-width: 500px;

  text-indent: 33px;
  border-radius: 10px;
}

.formInput:focus {
  box-shadow: none;
  border: none;
}

@media (max-width: 767.98px) {
  .formInput{
    height: 49.5px;
    width: 366.666667px;
  }
}

@media (max-width: 320px) {
  .formInput{
    height: 44.55px;
    width: 244.444445px;
  }
}