.masterContainer {
  height: 100vh;
  min-height: 450px;
  width: inherit;
  position: relative;
  justify-content: center; /* Center the div horizontally */
  //align-items: center; /* Center the div vertically */
  //margin: 0 auto;
  overflow-y: hidden;
  overflow-x: hidden;

  .authAlerts{
    z-index: 9999 !important;
    position: absolute;
    min-width: 98%;
    top: 0;
    opacity: 0.9;
  }
  .signinContainer {
    height: inherit;

    .formBoxContainer {
      width: 100%;
    }

    .signinImage {
      max-width: 100%; /* set the maximum width of the image to 100% of the container */
      max-height: 100%; /* set the maximum height of the image to 100% of the container */
      display: block; /* make the image a block element */
      object-fit: cover;
    }

    .signinForm {
    }

    form {
    }
  }
}

@media (max-width: 767.98px) {
  #formBoxContainer {
    width: 511.333333333px;
  }
}
@media (max-width: 575.98px) {
  #formBoxContainer {
    width: 383.986666667px;
  }
}
@media (max-width: 491px) {
  #formBoxContainer {
    width: 327.333333333px;
  }
}
@media (max-width: 320px) {
  #formBoxContainer {
    width: 213.333333333px;
  }
}

